<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <!-- 2.x 
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script> -->
          <script
            src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0/dist/htmx.min.js"
            integrity="sha384-BvJpBiO8Kh31EqtJe5DRIeWrHWnCGkwytKs9NKFi86Hhw96dEqdEMzZDeK9iEGTc"
            crossorigin="anonymous"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>